* {box-sizing: border-box;}

.nav-wrapper {
	border-bottom: 1px solid #000;
}

.nav-main {
	display: none;
}

.nav-main li {
	border-bottom: 1px solid #000;
	
}

.nav-main li: last-child {
	border-bottom-style: none;
}

.nav-main li a {
	display: block;
	padding: 20px;
}

.nav-main li a.is-current {
	background-color: red;
}

.hamburger {

}


/* desktop version of our .nav-main */
@media all and (min-width: 480px) {
	.nav-main {
		display: block;
	}


	.nav-main li {
		display: inline-block;
		border-bottom-style: none;
	}
	.is-mobile {
		display: none;
	}
} 
/*end of desktop version*/


section {
	height:600px;
	
}










